/*----- General CSS Start -----*/
body {
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
    color: #222;
    font-family: 'Inter';
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins';
}
h1 {
    font-weight: 600;
    line-height: 1.15;
    font-size: 44px;
    color: #0b3858;
}
h2 {
    font-size: 27px;
    margin: 1.5em 0 0.5em;
    color: #0b3858;
    font-weight: 600;
    line-height: 1.45;
}
h3 {
    font-size: 22px;
    color: #0b3858;
    font-weight: 600;
    margin: 1.25em 0 0.5em;
    line-height: 1.45;
}
p {
    font-size: 19px;
    font-family: 'Inter';
    color: #222;
    margin: 0.85em 0;
}
.ms-font-poppoins {
    font-family: 'Poppins';
}
.ms-font-inter {
    font-family: 'Inter';
}
.ms-arrow-list {
    padding-inline-start: 1.15em;
}
.ms-arrow-list li::marker {
    content: "→ ";
    color: #2381d9;
}
.ms-arrow-list li {
    margin: 0.65em 0;
}
/*----- General CSS End -----*/

/*----- Banner Section CSS Start -----*/
.ms-banner-section {
    padding: 80px 10px;
}
.ms-banner-section .ms-main-img {
    border-radius: 24px;
}
.ms-banner-section .ms-meta {
    font-size: 14px;
    color: #436984;
    margin-top: 30px;
    margin-bottom: 30px;
}
.ms-banner-section .ms-meta-heading {
    font-size: 12px;
    color: #a9b9c7;
}
.ms-banner-section .ms-meta-description {
    font-size: 16px;
    color: #222222;
}
.ms-banner-section .ms-meta-img {
    width: 36px;
    height: 36px;
}
.ms-banner-section .ms-meta-content {
    gap: 15px;
}
.ms-banner-section .ms-meta-content > div {
    gap: 10px;
}
.ms-banner-section .ms-meta-content > div:first-child {
    border-right: 2px solid #e7ecee;
    padding-right: 15px;
}

/*----- Banner Section CSS End -----*/