@charset "UTF-8";
:root {
  --header-height: 86;
  --header-height-px: calc(var(--header-height) * 1px);
}
@media (max-width: 1024px) {
  :root {
    --header-height: 64;
  }
}

.section-sitenavigation {
  --width: 1320px;
  --width-with-padding: calc(var(--width) + var(--gap) * 2);
  --main-column: calc(var(--width) / 4);
  --gap: 24px;
  --font-size-factor: 1;
  --transition-duration: .15s;
  --transition-props: var(--transition-duration) ease-out;
  position: sticky;
  top: 0;
  z-index: 999;
  color: var(--color-grey-dark);
  background-color: #fff;
}
@media (max-width: 1365px) {
  .section-sitenavigation {
    --width: 1024px;
    --gap: 12px;
    --font-size-factor: .85;
  }
}
@media (max-width: 1080px) {
  .section-sitenavigation {
    --width: 900px;
  }
}
@media (max-width: 1024px) {
  .section-sitenavigation {
    --width: auto;
    --gap: 20px;
    --font-size-factor: 1;
  }
}
@supports ((-webkit-backdrop-filter: blur(16px) saturate(1.6)) or (backdrop-filter: blur(16px) saturate(1.6))) {
  .section-sitenavigation {
    background-color: rgba(255, 255, 255, 0.87);
    -webkit-backdrop-filter: blur(16px) saturate(1.6);
            backdrop-filter: blur(16px) saturate(1.6);
  }
}
.section-sitenavigation:after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.025), 0 3px 10px rgba(0, 0, 0, 0.025);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-props);
}
.section-sitenavigation.is-scrolled:after {
  opacity: 1;
}
@media (hover: hover) {
  .section-sitenavigation:hover:after {
    opacity: 1;
  }
}
.section-sitenavigation menu, .section-sitenavigation ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin-block: 0;
}
.section-sitenavigation p {
  margin-block: 0;
  font-size: calc(14px * var(--font-size-factor));
  line-height: 1.1875;
}
.section-sitenavigation a {
  color: inherit;
}
.section-sitenavigation .nav-container {
  position: relative;
  display: flex;
  width: var(--width-with-padding);
  padding-inline: var(--gap);
  margin-inline: auto;
}
.section-sitenavigation > .nav-container {
  display: grid;
  grid-template-columns: auto auto 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
@media (max-width: 1024px) {
  .section-sitenavigation > .nav-container {
    grid-template-columns: 1fr max-content min-content;
    min-height: var(--header-height-px);
  }
}
.section-sitenavigation .logo,
.section-sitenavigation .app-links,
.section-sitenavigation .top-level-item label,
.section-sitenavigation .top-level-item a {
  position: relative;
  z-index: 100;
}
.section-sitenavigation .logo {
  justify-self: start;
}
.section-sitenavigation .logo svg {
  display: block;
  width: calc(170px * var(--font-size-factor));
  height: auto;
  margin-top: -7px;
}
@media (max-width: 1024px) {
  .section-sitenavigation .logo svg {
    width: 140px;
    margin-top: 0;
  }
}
@media (max-width: 375px) {
  .section-sitenavigation .logo svg {
    width: 128px;
  }
}
.section-sitenavigation .logo svg path {
  transition: fill var(--transition-props);
}
@media (hover: hover) {
  .section-sitenavigation .logo:hover svg path {
    fill: var(--color-blue);
  }
}
@media (min-width: 1025px) {
  .section-sitenavigation .menus-wrapper,
  .section-sitenavigation .menus {
    display: contents;
  }
}
@media (max-width: 1024px) {
  .section-sitenavigation .menus-wrapper,
  .section-sitenavigation .menus {
    position: fixed;
    left: 0;
    width: 100vw;
    top: var(--header-height-px);
    height: calc(100dvh - var(--header-height-px));
    background-color: var(--color-white);
  }
  @supports not (height: 100dvh) {
    .section-sitenavigation .menus-wrapper,
    .section-sitenavigation .menus {
      height: calc(100vh - var(--header-height-px));
    }
    @media not all and (min-resolution: 0.001dpcm) {
      @supports (-webkit-appearance: none) {
        .section-sitenavigation .menus-wrapper,
        .section-sitenavigation .menus {
          padding-bottom: 80px;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .section-sitenavigation .menus-wrapper {
    overflow: hidden;
    border-top: solid 1px var(--color-blue-gray-15);
  }
}
@media (max-width: 1024px) {
  .section-sitenavigation .menus {
    display: grid;
    grid-template-rows: max-content;
    transform: translateX(calc(var(--open-level, 0) * -100vw));
    transition: transform 0.3s ease-out;
    position: absolute;
    top: 0;
  }
}
.section-sitenavigation .site-nav {
  display: flex;
  width: 100%;
  justify-content: center;
}
@media (max-width: 1024px) {
  .section-sitenavigation .site-nav {
    flex-direction: column;
  }
}
.section-sitenavigation .menu-wrapper {
  position: fixed;
}
@media (min-width: 1025px) {
  .section-sitenavigation .menu-wrapper {
    inset-inline: 0;
    top: var(--header-height-px);
    background-color: var(--color-white);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.025), 0 3px 10px rgba(0, 0, 0, 0.025);
  }
  .section-sitenavigation .menu-wrapper:before {
    content: "";
    position: absolute;
    inset-inline: 0;
    top: calc(-1px * var(--header-height));
    height: calc(1px * var(--header-height));
  }
  @supports (-webkit-hyphens: none) {
    .section-banner ~ .section-sitenavigation .menu-wrapper {
      position: absolute;
      left: calc((100vw - var(--width)) / 2 * -1 + var(--gap) * 2);
      right: calc((100vw - var(--width)) / 2 * -1 + var(--gap) * 2);
    }
  }
  @-moz-document url-prefix() {
    .section-banner ~ .section-sitenavigation .menu-wrapper {
      position: absolute;
      left: calc((100vw - var(--width)) / 2 * -1 + var(--gap) * 2);
      right: calc((100vw - var(--width)) / 2 * -1 + var(--gap) * 2);
    }
  }
}
@media (max-width: 1024px) {
  .section-sitenavigation .menu-wrapper {
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vh;
  }
}
.section-sitenavigation input:not(:checked) ~ .menu-wrapper, .section-sitenavigation input:not(:checked) ~ .menu-wrapper .segment-labels, .section-sitenavigation input:not(:checked) + .segment {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  height: auto;
  pointer-events: none;
  flex-wrap: unset;
}
.section-sitenavigation .top-level-item-label,
.section-sitenavigation .top-level-item-link {
  height: var(--header-height-px);
  display: flex;
  align-items: center;
  font-size: calc(16px * var(--font-size-factor));
  font-weight: 600;
  color: var(--color-blue-darker);
  transition: color var(--transition-props);
  padding-inline: 15px;
}
@media (max-width: 1365px) {
  .section-sitenavigation .top-level-item-label,
  .section-sitenavigation .top-level-item-link {
    padding-inline: 8px;
  }
}
@supports ((-webkit-clip-path: path("M.17.45A1 1 0 0 1 1.55.17L4 1.8 6.45.17a1 1 0 1 1 1.1 1.66l-3 2a1 1 0 0 1-1.1 0l-3-2A1 1 0 0 1 .17.45Z")) or (clip-path: path("M.17.45A1 1 0 0 1 1.55.17L4 1.8 6.45.17a1 1 0 1 1 1.1 1.66l-3 2a1 1 0 0 1-1.1 0l-3-2A1 1 0 0 1 .17.45Z"))) {
  .section-sitenavigation .top-level-item-label:after {
    content: "";
    background-color: currentColor;
    width: 8px;
    height: 4px;
    -webkit-clip-path: path("M.17.45A1 1 0 0 1 1.55.17L4 1.8 6.45.17a1 1 0 1 1 1.1 1.66l-3 2a1 1 0 0 1-1.1 0l-3-2A1 1 0 0 1 .17.45Z");
            clip-path: path("M.17.45A1 1 0 0 1 1.55.17L4 1.8 6.45.17a1 1 0 1 1 1.1 1.66l-3 2a1 1 0 0 1-1.1 0l-3-2A1 1 0 0 1 .17.45Z");
    -webkit-margin-start: 0.5em;
            margin-inline-start: 0.5em;
  }
}
@media (hover: hover) {
  .section-sitenavigation .top-level-item:hover .top-level-item-label,
  .section-sitenavigation .top-level-item:hover .top-level-item-link {
    color: var(--color-blue);
  }
}
.section-sitenavigation .top-level-item.active .top-level-item-label,
.section-sitenavigation .top-level-item.active .top-level-item-link {
  color: var(--color-blue);
}
.section-sitenavigation .top-level-item-link.active {
  color: var(--color-blue);
}
.section-sitenavigation .segments {
  display: grid;
  min-height: calc(var(--scroll-height) + 1px);
}
@media (min-width: 1025px) {
  .section-sitenavigation .segment {
    display: flex;
    grid-area: 1/1/1/1;
    transition: opacity var(--transition-props);
    flex-wrap: wrap;
    align-content: start;
    align-items: start;
  }
}
@media (max-width: 1024px) {
  .section-sitenavigation .segment {
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 50px;
  }
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .section-sitenavigation .segment {
        padding-bottom: 0;
      }
    }
  }
}
@media (min-width: 1025px) {
  .section-sitenavigation .segment-labels {
    background-color: var(--color-blue-gray-3);
  }
  .section-sitenavigation .segment-description-wrapper {
    flex: 100% 0 0;
  }
}
.section-sitenavigation .segment-labels {
  flex: calc(var(--main-column) - var(--gap) * 1.5) 0 0;
  position: relative;
  display: grid;
  align-content: start;
  gap: 4px;
}
@media (min-width: 1025px) {
  .section-sitenavigation .segment-labels {
    padding-block: var(--gap);
    -webkit-padding-end: var(--gap);
            padding-inline-end: var(--gap);
    -webkit-margin-end: var(--gap);
            margin-inline-end: var(--gap);
  }
}
.section-sitenavigation .segment-labels:before {
  content: "";
  background-color: inherit;
  position: absolute;
  inset-block: 0;
  inset-inline-end: 100%;
  width: calc((100vw - var(--width)) / 2);
}
.section-sitenavigation .segment-label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(20px * var(--font-size-factor));
  font-weight: 600;
  color: var(--color-blue-darker);
  padding: 18px;
}
@media (min-width: 1025px) {
  .section-sitenavigation .segment-label {
    transition: all var(--transition-props);
  }
}
.section-sitenavigation .segment-label span {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}
.section-sitenavigation .segment-label span .icon {
  width: 21px;
  height: 21px;
}
.section-sitenavigation .segment-label span svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.section-sitenavigation .segment-label span svg path {
  fill: currentColor;
  transition: none;
}
.section-sitenavigation .segment-label:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9px;
  pointer-events: none;
  background-color: var(--color-white);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.025), 0 3px 10px rgba(0, 0, 0, 0.025);
  opacity: 0;
}
@supports ((-webkit-clip-path: path("M1.2.73a1.5 1.5 0 0 1 2.07.46l5.28 8.3a3.5 3.5 0 0 1-.09 3.9l-5.23 7.47a1.5 1.5 0 1 1-2.46-1.72l5.24-7.48a.5.5 0 0 0 0-.55L.74 2.8A1.5 1.5 0 0 1 1.2.73Z")) or (clip-path: path("M1.2.73a1.5 1.5 0 0 1 2.07.46l5.28 8.3a3.5 3.5 0 0 1-.09 3.9l-5.23 7.47a1.5 1.5 0 1 1-2.46-1.72l5.24-7.48a.5.5 0 0 0 0-.55L.74 2.8A1.5 1.5 0 0 1 1.2.73Z"))) {
  .section-sitenavigation .segment-label:after {
    content: "";
    background-color: var(--color-blue-darker);
    width: 10px;
    height: 22px;
    -webkit-clip-path: path("M1.2.73a1.5 1.5 0 0 1 2.07.46l5.28 8.3a3.5 3.5 0 0 1-.09 3.9l-5.23 7.47a1.5 1.5 0 1 1-2.46-1.72l5.24-7.48a.5.5 0 0 0 0-.55L.74 2.8A1.5 1.5 0 0 1 1.2.73Z");
            clip-path: path("M1.2.73a1.5 1.5 0 0 1 2.07.46l5.28 8.3a3.5 3.5 0 0 1-.09 3.9l-5.23 7.47a1.5 1.5 0 1 1-2.46-1.72l5.24-7.48a.5.5 0 0 0 0-.55L.74 2.8A1.5 1.5 0 0 1 1.2.73Z");
    opacity: 0;
    transform: translateX(-50%) scale(var(--font-size-factor));
  }
}
@media (min-width: 1025px) {
  .section-sitenavigation .segment-label.active {
    color: var(--color-blue);
  }
  .section-sitenavigation .segment-label.active:before {
    opacity: 1;
  }
  .section-sitenavigation .segment-label.active:after {
    opacity: 1;
    transform: scale(var(--font-size-factor));
    background-color: var(--color-blue);
    transition: all var(--transition-props);
  }
}
@media (max-width: 1024px) {
  .section-sitenavigation .top-level-item-label,
  .section-sitenavigation .top-level-item-link,
  .section-sitenavigation .segment-label {
    padding: var(--gap);
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    justify-content: space-between;
    font-size: 20px;
  }
  .section-sitenavigation .top-level-item-label,
  .section-sitenavigation .top-level-item-link,
  .section-sitenavigation .segment-label,
  .section-sitenavigation .nav-item a,
  .section-sitenavigation .back-wrapper {
    -webkit-margin-start: var(--gap);
            margin-inline-start: var(--gap);
    border-bottom: solid 1px var(--color-blue-gray-10);
  }
  .section-sitenavigation .top-level-item-label:after,
  .section-sitenavigation .segment-label:after {
    content: "";
    background-color: currentColor;
    -webkit-margin-start: 0.5em;
            margin-inline-start: 0.5em;
    -webkit-margin-end: 7px;
            margin-inline-end: 7px;
    width: 5px;
    height: 14px;
    -webkit-clip-path: path("M.75.1a1 1 0 0 1 1.33.47L4.43 5.5a4 4 0 0 1-.07 3.58l-2.3 4.38a1 1 0 1 1-1.77-.93l2.3-4.38a2 2 0 0 0 .04-1.79L.27 1.43A1 1 0 0 1 .75.1Z");
            clip-path: path("M.75.1a1 1 0 0 1 1.33.47L4.43 5.5a4 4 0 0 1-.07 3.58l-2.3 4.38a1 1 0 1 1-1.77-.93l2.3-4.38a2 2 0 0 0 .04-1.79L.27 1.43A1 1 0 0 1 .75.1Z");
    opacity: 1;
    transform: none;
  }
}
.section-sitenavigation .back-wrapper {
  position: sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  background-color: var(--color-white);
}
@media (min-width: 1025px) {
  .section-sitenavigation .back-wrapper {
    display: none;
  }
}
.section-sitenavigation .back-wrapper button {
  display: flex;
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 500;
  color: var(--color-blue-gray-50);
  min-height: 48px;
  -webkit-padding-end: 3em;
          padding-inline-end: 3em;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.section-sitenavigation .back-wrapper button:before {
  content: "";
  background-color: currentColor;
  -webkit-margin-end: 12px;
          margin-inline-end: 12px;
  -webkit-padding-start: 12px;
          padding-inline-start: 12px;
  width: 5px;
  height: 14px;
  -webkit-clip-path: path("M.75.1a1 1 0 0 1 1.33.47L4.43 5.5a4 4 0 0 1-.07 3.58l-2.3 4.38a1 1 0 1 1-1.77-.93l2.3-4.38a2 2 0 0 0 .04-1.79L.27 1.43A1 1 0 0 1 .75.1Z");
          clip-path: path("M.75.1a1 1 0 0 1 1.33.47L4.43 5.5a4 4 0 0 1-.07 3.58l-2.3 4.38a1 1 0 1 1-1.77-.93l2.3-4.38a2 2 0 0 0 .04-1.79L.27 1.43A1 1 0 0 1 .75.1Z");
  transform: scaleX(-1);
}
@media (max-width: 1024px) {
  .section-sitenavigation .segment-labels,
  .section-sitenavigation .segment {
    position: fixed;
    left: 0;
    width: 100vw;
    top: var(--header-height-px);
    height: calc(100dvh - var(--header-height-px));
    position: absolute;
    top: 0;
  }
  @supports not (height: 100dvh) {
    .section-sitenavigation .segment-labels,
    .section-sitenavigation .segment {
      height: calc(100vh - var(--header-height-px));
    }
    @media not all and (min-resolution: 0.001dpcm) {
      @supports (-webkit-appearance: none) {
        .section-sitenavigation .segment-labels,
        .section-sitenavigation .segment {
          padding-bottom: 80px;
        }
      }
    }
  }
  .section-sitenavigation .segment-labels.segment-labels ~ .segments .segment,
  .section-sitenavigation .segment.segment-labels ~ .segments .segment {
    left: 100vw;
  }
}
.section-sitenavigation .segment-description {
  --small-gap: calc(var(--gap) * .75);
  background-color: var(--color-white);
  padding: var(--gap);
  display: grid;
  gap: var(--gap);
  border-bottom: solid 1px var(--color-blue-lighter);
  position: relative;
}
.section-sitenavigation .segment-description:after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.07;
  background-image: radial-gradient(50% 70% at 50% 100%, var(--color-blue), rgba(41, 152, 255, 0));
  pointer-events: none;
  z-index: -1;
}
@media (min-width: 1025px) {
  .section-sitenavigation .segment-description {
    -webkit-margin-start: var(--gap);
            margin-inline-start: var(--gap);
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    overflow: hidden;
    display: block;
  }
  .section-sitenavigation .segment-description:after {
    transform-origin: bottom;
    transform: scaleY(0.25);
    transition: inherit;
  }
  .section-sitenavigation .segment-description:hover:after {
    transform: scaleY(0.33);
    opacity: 0.11;
  }
}
@media (max-width: 1024px) {
  .section-sitenavigation .segment-description {
    gap: 0.5em var(--gap);
  }
  .section-sitenavigation .segment-description > * {
    grid-column: 1;
  }
}
@media (hover: hover) {
  .section-sitenavigation .segment-description:hover .learn-more {
    color: var(--color-blue-dark);
  }
  .section-sitenavigation .segment-description:hover .learn-more:after {
    transform: translateX(0.15em);
  }
}
.section-sitenavigation .segment-description .title {
  font-size: calc(32px * var(--font-size-factor));
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-blue-darker);
}
.section-sitenavigation .segment-description .subtitle {
  font-family: var(--font-family-primary);
  font-weight: 550;
  color: var(--color-blue-gray-75);
}
@media (max-width: 1024px) {
  .section-sitenavigation .segment-description .subtitle {
    margin-top: 0.66em;
    font-size: calc(16px * var(--font-size-factor));
  }
}
@media (min-width: 1025px) {
  .section-sitenavigation .segment-description .subtitle {
    display: inline-block;
  }
  .section-sitenavigation .segment-description .subtitle:has(+ .learn-more):after {
    content: "•";
    display: inline-block;
    margin-inline: 0.5em 0.25em;
  }
}
.section-sitenavigation .segment-description .learn-more {
  font-family: var(--font-family-primary);
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 0.125em;
  line-height: 1;
  color: var(--color-blue);
  transition: color var(--transition-props);
  align-self: end;
}
.section-sitenavigation .segment-description .learn-more:after {
  content: "→";
  display: inline-block;
  transition: transform var(--transition-props);
  -webkit-margin-start: 0.25em;
          margin-inline-start: 0.25em;
}
@media (max-width: 1024px) {
  .section-sitenavigation .segment-description .learn-more {
    font-size: calc(16px * var(--font-size-factor));
  }
}
@media (min-width: 1025px) {
  .section-sitenavigation .segment-description .learn-more {
    display: inline-block;
  }
}
.section-sitenavigation .group {
  flex: calc(var(--main-column) * var(--columns)) 0 0;
  position: relative;
}
@media (min-width: 1025px) {
  .section-sitenavigation .group {
    padding-block: var(--gap);
  }
  .section-sitenavigation .group:has(.group-label) + .group:has(.group-label) p.group-label:before {
    content: "";
    position: absolute;
    inset-block: 24px;
    width: 1px;
    background-color: var(--color-blue-gray-10);
    inset-inline-start: 0;
  }
  .section-sitenavigation .group:has(.group-label) .nav-item a:after {
    inset-inline: 8px;
  }
  .section-sitenavigation .group ul {
    display: flex;
    flex-wrap: wrap;
  }
}
.section-sitenavigation .group-label {
  font-family: var(--font-family-title);
  font-size: calc(12px * var(--font-size-factor));
  font-weight: 600;
  letter-spacing: 0.15em;
  line-height: 1.25;
  min-height: 1.5em;
  text-transform: uppercase;
  color: var(--color-blue-gray-75);
  -webkit-padding-start: var(--gap);
          padding-inline-start: var(--gap);
}
@media (max-width: 1024px) {
  .section-sitenavigation .group-label {
    padding-top: var(--gap);
  }
}
.section-sitenavigation .group-label a {
  display: flex;
  align-items: center;
  gap: 0.35em;
}
.section-sitenavigation .group-label a:after {
  content: "";
  display: block;
  background-color: currentColor;
  width: 5px;
  height: 12px;
  -webkit-clip-path: path("M0.597346 0.867257C0.946802 0.644876 1.41037 0.74789 1.63275 1.09735L4.27427 5.24831C4.65406 5.84511 4.63719 6.61187 4.23152 7.1914L1.61443 10.9301C1.37689 11.2694 0.909243 11.352 0.569906 11.1144C0.230569 10.8769 0.148043 10.4092 0.385579 10.0699L3.00267 6.33121C3.06062 6.24842 3.06303 6.13888 3.00878 6.05362L0.367257 1.90266C0.144876 1.5532 0.24789 1.08964 0.597346 0.867257Z");
          clip-path: path("M0.597346 0.867257C0.946802 0.644876 1.41037 0.74789 1.63275 1.09735L4.27427 5.24831C4.65406 5.84511 4.63719 6.61187 4.23152 7.1914L1.61443 10.9301C1.37689 11.2694 0.909243 11.352 0.569906 11.1144C0.230569 10.8769 0.148043 10.4092 0.385579 10.0699L3.00267 6.33121C3.06062 6.24842 3.06303 6.13888 3.00878 6.05362L0.367257 1.90266C0.144876 1.5532 0.24789 1.08964 0.597346 0.867257Z");
  transition: transform 0.15s ease-out;
}
.section-sitenavigation .group-label a:hover {
  color: var(--color-blue-dark);
}
.section-sitenavigation .group-label a:hover:after {
  transform: translateX(0.25em);
}
@media (min-width: 1025px) {
  .section-sitenavigation .nav-item {
    flex: calc(var(--main-column)) 0 0;
    min-height: var(--item-height);
  }
}
.section-sitenavigation .nav-item a {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 14px var(--gap);
  font-family: var(--font-family-primary);
  position: relative;
}
.section-sitenavigation .nav-item a:not(:has(.text)) {
  align-items: center;
}
@media (min-width: 1025px) {
  .section-sitenavigation .nav-item a:not(:has(.icon)) {
    padding-block: 10px;
  }
}
.section-sitenavigation .nav-item a:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9px;
  background-color: var(--color-blue);
  pointer-events: none;
  opacity: 0;
  transition: all var(--transition-props);
}
@media (max-width: 1024px) {
  .section-sitenavigation .nav-item a {
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -webkit-margin-start: var(--gap);
            margin-inline-start: var(--gap);
  }
}
.section-sitenavigation .nav-item a.active .icon {
  background-color: rgba(41, 152, 255, 0.07);
}
.section-sitenavigation .nav-item a.active svg path {
  fill: var(--color-blue);
}
.section-sitenavigation .nav-item a.active .label {
  color: var(--color-blue);
}
.section-sitenavigation .nav-item a.active .text {
  color: var(--color-blue-darker);
}
@media (hover: hover) {
  .section-sitenavigation .nav-item a:hover .icon {
    background-color: rgba(41, 152, 255, 0.07);
  }
  .section-sitenavigation .nav-item a:hover svg path {
    fill: var(--color-blue);
  }
  .section-sitenavigation .nav-item a:hover .label {
    color: var(--color-blue);
  }
  .section-sitenavigation .nav-item a:hover .text {
    color: var(--color-blue-darker);
  }
  .section-sitenavigation .nav-item a:hover:not(.active):after {
    opacity: 0.05;
  }
}
.section-sitenavigation .nav-item .icon,
.section-sitenavigation .nav-item .label {
  transition: all var(--transition-props);
}
.section-sitenavigation .nav-item .icon {
  height: 36px;
  width: 36px;
  position: relative;
  display: grid;
  place-items: center;
  background-color: var(--color-blue-gray-10);
  border-radius: 18px;
  flex: none;
}
.section-sitenavigation .nav-item .icon svg,
.section-sitenavigation .nav-item .icon img {
  width: 20px;
  height: 20px;
}
.section-sitenavigation .nav-item .icon svg path {
  fill: var(--color-blue-darker);
}
.section-sitenavigation .nav-item .label {
  font-weight: 700;
  font-size: calc(16px * var(--font-size-factor));
  color: var(--color-blue-darker);
}
.section-sitenavigation .nav-item .label b {
  font-weight: 800;
}
.section-sitenavigation .nav-item .icon ~ .texts:has(.text) {
  margin-top: 8.5px;
}
@media (max-width: 1024px) {
  .section-sitenavigation #site-nav-toggle:not(:checked) ~ .menus-wrapper {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  @keyframes item-fade-in {
    from {
      opacity: 0;
      transform: translateY(var(--gap));
    }
  }
  @keyframes app-links-fade-in {
    from {
      background-color: transparent;
    }
  }
  @keyframes app-link-fade-in {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
  }
  .section-sitenavigation #site-nav-toggle:checked ~ .menus-wrapper [style*="--i"] {
    animation: item-fade-in calc(var(--transition-duration) * 2) 1 backwards;
    animation-delay: calc(var(--transition-duration) * 0.25 * var(--i));
  }
  .section-sitenavigation #site-nav-toggle:checked ~ .menus-wrapper .app-links {
    animation: app-links-fade-in calc(var(--transition-duration) * 2) 1 backwards;
  }
  .section-sitenavigation #site-nav-toggle:checked ~ .menus-wrapper .app-link {
    animation: app-link-fade-in calc(var(--transition-duration) * 2) 1 backwards;
    animation-delay: calc(var(--transition-duration) * 0.25 * var(--i));
  }
  .section-sitenavigation #site-nav-toggle:checked ~ .menus-wrapper .app-link:nth-last-child(2) {
    animation-delay: calc(var(--transition-duration) * 0.25 * 2);
  }
}
.section-sitenavigation .app-links {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (max-width: 1024px) {
  .section-sitenavigation .app-links {
    background-color: var(--color-blue-gray-3);
    flex-direction: column;
    align-items: stretch;
    padding: var(--gap);
    width: 100%;
    margin-top: auto;
  }
  @supports not (height: 100dvh) {
    @media not all and (min-resolution: 0.001dpcm) {
      @supports (-webkit-appearance: none) {
        .section-sitenavigation .app-links:after {
          content: "";
          position: absolute;
          bottom: -80px;
          height: 100px;
          left: 0;
          right: 0;
          background-color: inherit;
        }
      }
    }
  }
}
.section-sitenavigation .app-link a {
  transition: all var(--transition-props);
  font-size: calc(14px * var(--font-size-factor));
  font-weight: 600;
  padding: 14px 22px;
  border-radius: 99px;
  border: solid 2px transparent;
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-align: center;
  line-height: 1;
}
@media (max-width: 1024px) {
  .section-sitenavigation .app-link a {
    justify-content: center;
  }
}
.section-sitenavigation .app-link.login a {
  color: var(--color-blue-darker);
}
@supports ((-webkit-clip-path: path("M18.7 17.38a9.99 9.99 0 1 0-15.38 0l-.01.01.16.17.2.22c.2.21.4.42.62.62l.2.17c.23.2.46.38.7.56l.1.07a9.94 9.94 0 0 0 11.44 0l.09-.07c.24-.18.48-.36.7-.56l.2-.17c.22-.2.43-.4.63-.62l.2-.22.16-.17-.02-.01ZM11 5.28a3.22 3.22 0 1 1 0 6.44 3.22 3.22 0 0 1 0-6.43Zm-5.7 12.1a3.57 3.57 0 0 1 3.56-3.52h4.3a3.57 3.57 0 0 1 3.56 3.52 8.54 8.54 0 0 1-11.43 0Z")) or (clip-path: path("M18.7 17.38a9.99 9.99 0 1 0-15.38 0l-.01.01.16.17.2.22c.2.21.4.42.62.62l.2.17c.23.2.46.38.7.56l.1.07a9.94 9.94 0 0 0 11.44 0l.09-.07c.24-.18.48-.36.7-.56l.2-.17c.22-.2.43-.4.63-.62l.2-.22.16-.17-.02-.01ZM11 5.28a3.22 3.22 0 1 1 0 6.44 3.22 3.22 0 0 1 0-6.43Zm-5.7 12.1a3.57 3.57 0 0 1 3.56-3.52h4.3a3.57 3.57 0 0 1 3.56 3.52 8.54 8.54 0 0 1-11.43 0Z"))) {
  .section-sitenavigation .app-link.login a:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background-color: currentColor;
    -webkit-clip-path: path("M18.7 17.38a9.99 9.99 0 1 0-15.38 0l-.01.01.16.17.2.22c.2.21.4.42.62.62l.2.17c.23.2.46.38.7.56l.1.07a9.94 9.94 0 0 0 11.44 0l.09-.07c.24-.18.48-.36.7-.56l.2-.17c.22-.2.43-.4.63-.62l.2-.22.16-.17-.02-.01ZM11 5.28a3.22 3.22 0 1 1 0 6.44 3.22 3.22 0 0 1 0-6.43Zm-5.7 12.1a3.57 3.57 0 0 1 3.56-3.52h4.3a3.57 3.57 0 0 1 3.56 3.52 8.54 8.54 0 0 1-11.43 0Z");
            clip-path: path("M18.7 17.38a9.99 9.99 0 1 0-15.38 0l-.01.01.16.17.2.22c.2.21.4.42.62.62l.2.17c.23.2.46.38.7.56l.1.07a9.94 9.94 0 0 0 11.44 0l.09-.07c.24-.18.48-.36.7-.56l.2-.17c.22-.2.43-.4.63-.62l.2-.22.16-.17-.02-.01ZM11 5.28a3.22 3.22 0 1 1 0 6.44 3.22 3.22 0 0 1 0-6.43Zm-5.7 12.1a3.57 3.57 0 0 1 3.56-3.52h4.3a3.57 3.57 0 0 1 3.56 3.52 8.54 8.54 0 0 1-11.43 0Z");
    -webkit-margin-start: -8px;
            margin-inline-start: -8px;
  }
}
@media (hover: hover) {
  .section-sitenavigation .app-link.login a:hover {
    color: var(--color-blue-dark);
    background-color: var(--color-blue-lighter);
  }
}
.section-sitenavigation .app-link.start a {
  background-color: var(--color-blue);
  color: var(--color-white);
}
@media (hover: hover) {
  .section-sitenavigation .app-link.start a:hover {
    background-color: var(--color-blue-dark);
  }
}
.section-sitenavigation .app-link.secondary a {
  color: var(--color-blue);
  border-color: var(--color-blue);
}
@media (width <= 1080px) {
  .section-sitenavigation .app-link.secondary a {
    display: none;
  }
}
@media (hover: hover) {
  .section-sitenavigation .app-link.secondary a:hover {
    color: var(--color-blue-dark);
    border-color: var(--color-blue-dark);
  }
}
.section-sitenavigation .app-link.mobile-only {
  margin-inline: 0.5em;
  transition: all var(--transition-props);
}
.section-sitenavigation .app-link.mobile-only a {
  font-size: 13px;
  padding: 0.75em 1.15em;
}
@media (max-width: 375px) {
  .section-sitenavigation .app-link.mobile-only a {
    font-size: 11px;
  }
}
@media (min-width: 1025px) {
  .section-sitenavigation .app-link.mobile-only {
    display: none;
  }
}
body.show-mobile-sticky-cta-button .section-sitenavigation .app-link.mobile-only {
  display: none;
}
.section-sitenavigation #site-nav-toggle:checked ~ .mobile-only {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
}

#site-nav-toggle-label {
  position: relative;
}
#site-nav-toggle-label:before {
  content: "";
  position: absolute;
  inset: -12px;
}
#site-nav-toggle-label .bars {
  position: relative;
  display: block;
  width: 19px;
  height: 14px;
  transition: all var(--transition-props);
  --transition-delay: calc(var(--transition-duration) * .75);
}
#site-nav-toggle-label .bars span {
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--color-blue-darker);
  transition: inherit;
  border-radius: 1px;
}
#site-nav-toggle-label .bars span:nth-child(1) {
  top: 0;
  transition-delay: var(--transition-delay);
}
#site-nav-toggle-label .bars span:nth-child(2), #site-nav-toggle-label .bars span:nth-child(3) {
  top: calc(50% - 1px);
}
#site-nav-toggle-label .bars span:nth-child(4) {
  bottom: 0;
  transition-delay: var(--transition-delay);
}
#site-nav-toggle:checked ~ #site-nav-toggle-label .bars {
  opacity: 0.5;
}
#site-nav-toggle:checked ~ #site-nav-toggle-label .bars span {
  transition-delay: var(--transition-delay);
}
#site-nav-toggle:checked ~ #site-nav-toggle-label .bars span:nth-child(1), #site-nav-toggle:checked ~ #site-nav-toggle-label .bars span:nth-child(4) {
  opacity: 0;
  transform: scaleX(0);
  transition-delay: 0s;
}
#site-nav-toggle:checked ~ #site-nav-toggle-label .bars span:nth-child(2) {
  transform: rotate(0.125turn);
}
#site-nav-toggle:checked ~ #site-nav-toggle-label .bars span:nth-child(3) {
  transform: rotate(-0.125turn);
}
@media (min-width: 1025px) {
  #site-nav-toggle-label {
    display: none;
  }
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  max-width: 100vw;
}
/*# sourceMappingURL=section-sitenavigation.css.map */
