.section-competitors-table__table p {
  font-family: var(--font-family-primary);
  font-weight: var(--tg-font-weight-text);
  font-size: var(--tg-font-size-text);
  line-height: var(--tg-line-height-text);
  letter-spacing: var(--tg-letter-spacing-text);
  color: var(--color-grey-darker);
}
.section-competitors-table {
  padding-block: 20px;
}
@media (min-width: 801px) {
  .section-competitors-table {
    padding-block: 50px;
  }
}
@media (min-width: 1200px) {
  .section-competitors-table:not([data-competitors-count="2"]) .container {
    width: 1290px;
    max-width: 100%;
  }
}
.section-competitors-table [data-headings-group] {
  margin-bottom: 20px;
}
.section-competitors-table [data-headings-group] [data-headings-group-title],
.section-competitors-table [data-headings-group] [data-headings-group-subtitle] {
  text-align: center;
  color: var(--color-blue-darker);
}
.section-competitors-table__table {
  --table-radius: 20px;
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}
@media (min-width: 801px) {
  .section-competitors-table__table {
    border-radius: var(--table-radius);
    text-align: center;
  }
}
.section-competitors-table__table tr {
  display: grid;
  border: solid 1px #E7EDF3;
}
.section-competitors-table__table tr:last-child:not(:first-child) {
  border-bottom: solid 1px #E7EDF3;
}
@media (min-width: 801px) {
  .section-competitors-table__table tr {
    grid-template-columns: minmax(25%, 1.5fr) repeat(var(--n), 1fr);
    justify-content: center;
    border-top: none;
    border-bottom: none;
  }
}
@media (max-width: 800px) {
  .section-competitors-table__table tr {
    border-radius: 20px;
  }
}
.section-competitors-table__table thead {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
@media (min-width: 801px) {
  .section-competitors-table__table thead {
    position: sticky;
    top: calc(var(--header-height, 0) * 1px + 20px);
    margin-bottom: var(--last-row-height, var(--table-radius));
    background-color: var(--color-white);
  }
  .section-competitors-table__table thead:before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-white);
    z-index: -1;
    transform: translateY(-20px);
  }
  .section-competitors-table__table thead tr {
    border: none;
  }
  .section-competitors-table__table thead th {
    background-color: var(--color-white);
    border-top: solid 1px #E7EDF3;
    border-bottom: solid 1px #E7EDF3;
  }
  .section-competitors-table__table thead th:first-child {
    border-top-left-radius: calc(var(--table-radius));
    border-left: solid 1px #E7EDF3;
  }
  .section-competitors-table__table thead th:last-child {
    border-top-right-radius: calc(var(--table-radius));
    border-right: solid 1px #E7EDF3;
  }
}
.section-competitors-table__table tbody {
  display: grid;
}
@media (max-width: 800px) {
  .section-competitors-table__table tbody {
    gap: 20px;
  }
}
@media (min-width: 801px) {
  .section-competitors-table__table tbody tr {
    background-color: var(--color-white);
  }
  .section-competitors-table__table tbody tr:nth-child(odd) {
    background-color: hsl(205deg, 38%, 98%);
  }
  .section-competitors-table__table tbody tr:last-child {
    border-bottom-right-radius: var(--table-radius);
    border-bottom-left-radius: var(--table-radius);
  }
}
@media (max-width: 800px) {
  .section-competitors-table__table tbody tr[data-collapsed], .section-competitors-table__table tbody tr[data-collapsed] td, .section-competitors-table__table tbody tr[data-collapsed] button, .section-competitors-table__table tbody tr[data-collapsed] th:after {
    transition: all 0.15s ease-out;
  }
  .section-competitors-table__table tbody tr[data-collapsed] td {
    overflow: hidden;
  }
  .section-competitors-table__table tbody tr[data-collapsed] th:after {
    content: "";
    width: 11px;
    height: 8px;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='%23A8A8A8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 8L6.99382e-07 -9.61651e-07L11 0L5.5 8Z'/%3E%3C/svg%3E%0A");
    transform: rotate(180deg);
    transform-origin: 50% 33%;
    opacity: 0.25;
  }
  .section-competitors-table__table tbody tr[data-collapsed="1"] {
    background-color: #FCFDFE;
    border-color: #F1F5F8;
  }
  .section-competitors-table__table tbody tr[data-collapsed="1"] td {
    height: 0;
    padding-block: 0;
    margin-block: 0;
  }
  .section-competitors-table__table tbody tr[data-collapsed="1"] th:after {
    transform: rotate(0);
    opacity: 0.5;
  }
}
@media (max-width: 800px) {
  .section-competitors-table__table tbody td:not([data-checkmark]):first-of-type {
    padding-top: 0;
  }
}
.section-competitors-table__table th, .section-competitors-table__table td {
  padding: 12px;
  line-height: 1;
  display: grid;
}
@media (max-width: 800px) {
  .section-competitors-table__table th, .section-competitors-table__table td {
    grid-template-columns: auto 1fr;
    border-radius: 16px;
    gap: 10px;
    align-items: center;
  }
  .section-competitors-table__table th[data-checkmark], .section-competitors-table__table td[data-checkmark] {
    margin: 0 8px 8px;
    padding: 8px;
  }
  .section-competitors-table__table th[data-checkmark=yes], .section-competitors-table__table td[data-checkmark=yes] {
    background-color: #F6FCF7;
  }
  .section-competitors-table__table th[data-checkmark=yes][data-is-connecteam=true], .section-competitors-table__table td[data-checkmark=yes][data-is-connecteam=true] {
    background-color: #F6FBFF;
  }
}
@media (min-width: 801px) {
  .section-competitors-table__table th, .section-competitors-table__table td {
    padding: 16px;
    place-items: center;
    grid-auto-flow: row;
  }
}
.section-competitors-table__table th[role=rowheader], .section-competitors-table__table td[role=rowheader] {
  text-align: start;
  justify-content: start;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-blue-darker);
  line-height: 1.3;
}
@media (max-width: 800px) {
  .section-competitors-table__table th[role=rowheader], .section-competitors-table__table td[role=rowheader] {
    font-weight: 700;
    margin-top: 0.25em;
    grid-template-columns: 1fr auto;
  }
}
.section-competitors-table__table p {
  margin: 0.375em 0 0;
}
@media (max-width: 800px) {
  .section-competitors-table__table p {
    font-size: 14px;
  }
}
.section-competitors-table [data-checkmark=no] p {
  color: var(--color-grey);
}
.section-competitors-table__checkmark {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  display: grid;
  place-items: center;
  margin: 0 auto;
}
.section-competitors-table__checkmark:after {
  content: "";
  line-height: 0;
  width: 12px;
  height: 10px;
}
[data-checkmark=no] .section-competitors-table__checkmark {
  background-color: var(--color-red-lighter);
}
[data-checkmark=no] .section-competitors-table__checkmark:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 10' width='12px' height='10px' overflow='visible'%3E%3Cpath d='M3.84853 1.15147C3.3799 0.682843 2.6201 0.682843 2.15147 1.15147C1.68284 1.6201 1.68284 2.3799 2.15147 2.84853L3.84853 1.15147ZM8.15147 8.84853C8.6201 9.31716 9.3799 9.31716 9.84853 8.84853C10.3172 8.3799 10.3172 7.6201 9.84853 7.15147L8.15147 8.84853ZM2.15147 7.15147C1.68284 7.6201 1.68284 8.3799 2.15147 8.84853C2.6201 9.31716 3.3799 9.31716 3.84853 8.84853L2.15147 7.15147ZM9.84853 2.84853C10.3172 2.3799 10.3172 1.6201 9.84853 1.15147C9.3799 0.682843 8.6201 0.682843 8.15147 1.15147L9.84853 2.84853ZM2.15147 2.84853L8.15147 8.84853L9.84853 7.15147L3.84853 1.15147L2.15147 2.84853ZM3.84853 8.84853L9.84853 2.84853L8.15147 1.15147L2.15147 7.15147L3.84853 8.84853Z' fill='%23DF4456'/%3E%3C/svg%3E");
}
[data-checkmark=yes] .section-competitors-table__checkmark {
  background-color: var(--color-green-lighter);
}
[data-checkmark=yes] .section-competitors-table__checkmark:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 10' width='12px' height='10px' overflow='visible'%3E%3Cpath d='M2.84853 3.65147C2.3799 3.18284 1.6201 3.18284 1.15147 3.65147C0.682843 4.1201 0.682843 4.8799 1.15147 5.34853L2.84853 3.65147ZM5 7.5L4.15147 8.34853C4.6201 8.81716 5.3799 8.81716 5.84853 8.34853L5 7.5ZM10.8485 3.34853C11.3172 2.8799 11.3172 2.1201 10.8485 1.65147C10.3799 1.18284 9.62011 1.18284 9.15148 1.65147L10.8485 3.34853ZM1.15147 5.34853L4.15147 8.34853L5.84853 6.65147L2.84853 3.65147L1.15147 5.34853ZM5.84853 8.34853L10.8485 3.34853L9.15148 1.65147L4.15147 6.65147L5.84853 8.34853Z' fill='%2314CC1D'/%3E%3C/svg%3E");
}
[data-is-connecteam=true] .section-competitors-table__checkmark {
  background-color: var(--color-blue-lighter);
}
@media (min-width: 801px) {
  [data-is-connecteam=true] .section-competitors-table__checkmark {
    border: solid 1px var(--color-blue);
  }
}
[data-is-connecteam=true] .section-competitors-table__checkmark:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 10' width='12px' height='10px' overflow='visible'%3E%3Cpath d='M2.84853 3.65147C2.3799 3.18284 1.6201 3.18284 1.15147 3.65147C0.682843 4.1201 0.682843 4.8799 1.15147 5.34853L2.84853 3.65147ZM5 7.5L4.15147 8.34853C4.6201 8.81716 5.3799 8.81716 5.84853 8.34853L5 7.5ZM10.8485 3.34853C11.3172 2.8799 11.3172 2.1201 10.8485 1.65147C10.3799 1.18284 9.62011 1.18284 9.15148 1.65147L10.8485 3.34853ZM1.15147 5.34853L4.15147 8.34853L5.84853 6.65147L2.84853 3.65147L1.15147 5.34853ZM5.84853 8.34853L10.8485 3.34853L9.15148 1.65147L4.15147 6.65147L5.84853 8.34853Z' fill='%232998FF'/%3E%3C/svg%3E");
}
.section-competitors-table__logo {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 0 50%;
     object-position: 0 50%;
  width: 124px;
  height: 20px;
}
@media (min-width: 801px) {
  .section-competitors-table__logo {
    width: 140px;
    height: 24px;
    -o-object-position: center;
       object-position: center;
  }
}
@media (min-width: 1200px) {
  .section-competitors-table__logo {
    width: 190px;
    height: 32px;
  }
}
@media (min-width: 801px) {
  .section-competitors-table__logo.row-logo {
    display: none;
  }
}
.section-competitors-table__header-link {
  margin-top: 2px;
}
.section-competitors-table__name {
  font-family: var(--font-family-title);
  font-weight: 700;
}
.section-competitors-table__rating {
  display: flex;
  gap: 0.25em;
}
.section-competitors-table__rating img {
  width: 16px;
  height: 16px;
}
.section-competitors-table__rating:not(:last-child) {
  margin-bottom: 0.5em;
}
/*# sourceMappingURL=section-competitorstable.css.map */
